<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8" content="application/json">
    <title>TitlePage</title>
    <base href="/">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>-->
    <!--<script src="js/main.js"></script>-->

    <script src="dist/bundle.js"></script>

</head>
<body>

    <div>

        <div>
            <a href="#" ng-click="clearInputs()">Home</a>
            <a href="#/employees/list" ng-click="clearInputs()">Employees</a>
            <a href="#/employees/tree" ng-click="clearInputs()">Employee Tree</a>
            <a href="#/organizations/list" ng-click="clearInputs()">Organizations</a>
            <a href="#/organizations/tree" ng-click="clearInputs()">Organization Tree</a>
        </div>

        <hr/>

        <div ng-view></div>

    </div>
</body>
</html>