<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>TitlePage</title>
    <!--<base href="/">-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="js/main.js"></script>-->
</head>
<body>

    <div ng-controller="employeeController">

        <div>
            <a href="#" ng-click="clearInputs()">Home</a>
            <a href="#/employees/list" ng-click="clearInputs()">Employees</a>
        </div>

        <hr/>

        <div ng-view></div>

    </div>

</body>
</html>