<h1>New employee</h1>
<div ng-controller="employeeController" ng-init="getOrganizations()">
    <div style="display:flex; flex-direction: row; flex-wrap: nowrap" >
        <div style="float:left">
            <div style="clear:both; text-align:right">
                <label style="float:left">Surname: </label><input type="text" ng-model="employee.surname">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Name: </label><input type="text" ng-model="employee.name">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Patronymic: </label><input type="text" ng-model="employee.patronymic">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Organization: </label>
                <select ng-model="employee.organizationId" name="orgSel" ng-change="getOrganizationId(employee.organizationId)">
                    <option value="">Choose organization</option>
                    <option ng-repeat="organization in organizations" value="{{organization.id}}">{{organization.organizationName}}</option>
                </select>
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Supervisor: </label>
                <select ng-model="employee.supervisorId" name="supervisorSelect" disabled="disabled">
                    <option value="">Choose supervisor</option>
                </select>
            </div>
        </div>
        <input type="button" value="Submit" ng-click="addEmployee(employee)">
    </div>

    <a href="#/employees/list" ng-click="clearInputs()">Back to list</a>

</div>
