<h1>New employee</h1>
<div ng-controller="employeeController" ng-init="getOrganizations()">
    <div style="display:flex; flex-direction: row; flex-wrap: nowrap" >
        <div style="float:left">
            <div style="clear:both; text-align:right">
                <label style="float:left">Surname: </label><input type="text" ng-model="employee.surname">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Name: </label><input type="text" ng-model="employee.name">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Patronymic: </label><input type="text" ng-model="employee.patronymic">
            </div>
            <!--<div style="clear:both; text-align:right">
                <label style="float:left">Organization: </label><input type="number" ng-model="employee.organizationId">
            </div>-->
            <div style="clear:both; text-align:right">
                <label style="float:left">Supervisor: </label><input type="number" ng-model="employee.supervisorId">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Organization: </label>
                <select ng-model="employee.organizationId" ng-options="organization.organizationName for organization in organizations track by organization.id" onchange="getOrganizationId(employee.organizationId)">
                <option value="">Choose organization</option>
            </select>
            </div>
            <!--<div style="clear:both; text-align:right">
                <label style="float:left">Supervisor: </label>
                <select>

                </select>
            </div>-->
        </div>
        <input type="button" value="Submit" ng-click="addEmployee(employee)">
    </div>

    <a href="#/employees/list" ng-click="clearInputs()">Back to list</a>

</div>
