<h1>Edit employee</h1>
<div ng-init="getEmployeeById()">
    <div style="display:flex; flex-direction: row; flex-wrap: nowrap" >
        <div style="float:left">
            <div style="clear:both; text-align:right">
                <label style="float:left">Surname: </label><input type="text" ng-model="employee.surname">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Name: </label><input type="text" ng-model="employee.name">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Patronymic: </label><input type="text" ng-model="employee.patronymic">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Organization: </label><input type="number" ng-model="employee.organizationId">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Supervisor: </label><input type="number" ng-model="employee.supervisorId">
            </div>
        </div>
        <input type="button" value="Submit" ng-click="editEmployee(employee)">
        <!--<input type="button" value="Reset" ng-click="clearInputs()">-->
    </div>

    <a href="#/employees/list" ng-click="clearInputs()">Back to list</a>

</div>
