<h1>Edit organization</h1>
<div ng-init="organizationEditInit()">
    <div style="display:flex; flex-direction: row; flex-wrap: nowrap">
        <div style="float:left">
            <div style="clear:both; text-align:right">
                <label style="float:left">Organization name: </label><input type="text" ng-model="organization.organizationName">
            </div>
            <div style="clear:both; text-align:right" hidden="hidden">
                <label style="float:left">Parent: </label><input type="number" ng-model="organization.parentOrganizationId">
            </div>
            <div style="clear:both; text-align:right">
                <label style="float:left">Parent organization: </label>
                <select ng-model="parentOrganizationId" name="organizationSelect" disabled="disabled">
                    <option value="">Choose parent organization</option>
                </select>
            </div>

        </div>
        <input type="button" value="Submit" ng-click="editOrganization(organization)">
    </div>

    <a href="#/organizations/list" ng-click="clearInputs()">Back to list</a>

</div>
